
.Administration_content {
    clear: both;
    width: 864px; /*60%*/
    padding: 0px;
    /*margin-top: 30px;*/
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/
}

.stop{
    clear: both; 
}

#navbarHomeAdmin{
      width: 864px; /*60%*/
      margin:0 auto;
}

.jumbotron{
    width: 864px; /*60%*/
    /*margin: 36px auto 36px auto;*/
    padding: 0 36px;
    
}

.listApplicationContent{
    width: 864px; /*60%*/
    /*margin: 36px auto 36px auto;*/
    padding: 0 36px;
    
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

#userManager{
    margin-top: 9px;
    padding: 18px 90px;
    background: #eee;
}

#titoloPannelloControllo{
    text-align: center;
    font-size:36px;
    font-weight:bold;
    color:#d81a68;
    
}


#permissionsList{
    font-size: 10px;
    margin-top: 8px;
    margin-left: -2.25px;
    width: 500px;
    float: left;
}

#permissionsList li{
    margin: 0 2.25px;
    padding: 3px 3px;
    border-radius: 0;
    background-color: #d81a68;
    border-color: #d81a68;
}

#logoAvatar{
    clear: both;
    margin:36px auto;
    width: 108px;
}

.bottoneCP{
    text-align: center;
}

.quadrettone{
    width: 395px;
    height: 250px;
    float: left;
}

.iconaUser{
    margin: 8px auto 0px auto;
    float: right;
}

#cc{
    width:80px;
}

/*Cambia passord */
#gestionePassword{
    margin: 18px;
}
#generaPassword{
    margin: 18px 0;
    
}
#passwordAdvise{
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
}
#passwordOutput{
    color: black;
    font-weight: 600;
    
}

#userCreation{
    margin:18px;
}

#campiMancanti{
    line-height: 1.5;
}


.btnLogin{
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0 18px 0 750px;
    padding: 9px;
     border: 2px solid white;
    
}


.btnLogin a{color:white;}

.btnLogin a:hover{text-decoration: underline}

.btnLogin a:visited{color:#eee}

#sendButtonsGroup{
    position: relative;
    bottom: 27px;
}
